$c-01:#2F6BE5;
.vehicleWrapper{
    margin-top:10vh;

    .paymentSuccess{
       .orderDetailsContent{
        margin: 0 2.5rem 0 2.5rem;
        padding: 1rem 1.5rem;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        border-radius: 16px;
       }
       .paymentSuccessContent{
        display: flex;
        align-items: center;
        text-align: center;
        background-color:#47C6A8;
        width: 98%;
        // height: 10vh;
        margin:2rem auto;
        color: #FFFFFF;
        padding: 3rem 2rem;
        border-radius: 16px;
        h1{
            font-family: "Poppins";
            font-size:2vw;
            font-weight:500;
        }

        .success{
            margin-left: auto;
           transform: scale(2)!important;
        }
      
       }
       .orderDetailsHeader{
        width: 95%;
        margin:0 auto;
        font-family: "Poppins";
        font-size:1.5vw;
        font-weight:600;
       }

       .orderDetails{
           font-family: "Poppins";
           font-size:1.5vw;
           font-weight:500;
        display: flex;
        justify-content:flex-start;
        width: 95%;
        margin:0rem auto;
        
        .dynamicButton{
            margin-left: auto;
            cursor: pointer;
            button{
                   
                width: auto;
                // height: 8vh;
                background-color:$c-01 ;
                border:none;
                color: white;
                font-weight: 500;
                font-size:1.25vw;
                border-radius:12px;
                padding: 1rem  2rem;
                text-align: center;

                a{
                    text-decoration:none;
                    color: #FFFFFF;
                }
            }
        }
       }
       
    }

    .vehicleContent{
  
        margin: 5rem 2.5rem 0 2.5rem;
        font-family: "Poppins";
        h1{
            font-size: 36px;
            font-weight: 600;
        }
        p{
            font-size: 16px;
        }

        .vehicleForm{
            margin-top:2rem;
            
        }

        .address{
            height: 10vh;
        }

        .societyBtn{
            cursor: pointer;
                width: auto;
                // height: 8vh;
                background-color:$c-01 ;
                border:none;
                color: white;
                font-weight: 500;
                font-size:1vw;
                border-radius:12px;
                padding: 2rem  2rem;
                text-align: center;

                a{
                    text-decoration:none;
                    color: #FFFFFF;
                }
          
        }
    }
}

.totalFormRow{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    h1{
        display: flex;
        align-items: center;
        text-align: center;
    }
}

.societyBtn{
    cursor: pointer;
    margin-left:auto ;
}

.vehicleCost{
    margin-left: 10px;
    font-size:3vw;
    color: $c-01;
}

.vehicleAlert{
    font-size: 2vw;
    font-weight:600;
}
@media only screen and (max-width: 800px) {
    .vehicleWrapper{
        width: 100%;

        .paymentSuccess{
            margin-bottom:3rem ;
            .paymentSuccessContent{
            display: flex;
            background-color:#47C6A8;
            align-items: center;
            text-align: center;
            width: 95%;
            height: 10vh;
            margin:2rem auto;
            color: #FFFFFF;
            padding: 3rem 2rem;
            border-radius: 16px;
    
        
            h1{
                font-family: "Poppins";
                font-size:2.5vw;
                font-weight:500;
            }
    
            .success{
                margin-left: auto;
               transform: scale(1.5)!important;
            }
        }
        

        .orderDetailsHeader{
            width: 88%;
            margin:0 auto;
            font-family: "Poppins";
            font-size:2.5vw;
            font-weight:600;
           }
    
           .orderDetails{
               font-family: "Poppins";
               font-size:2vw;
               font-weight:500;
            display: flex;
            justify-content:flex-start;
            width: 88%;
            margin:0rem auto;

            .dynamicButton{
                margin-left: auto;
                cursor: pointer;
                button{
                       
                    width: auto;
                    // height: 8vh;
                    background-color:$c-01 ;
                    border:none;
                    color: white;
                    font-weight: 500;
                    font-size:2vw;
                    border-radius:12px;
                    padding: 1rem  2rem;
                    text-align: center;
    
                    a{
                        text-decoration:none;
                        color: #FFFFFF;
                    }
                }
            }
            
           }


        }
        .vehicleContent{
        
            margin: 0 2.5rem 0 2.5rem;
            font-family: "Poppins";
            h1{
                font-size: 36px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
            }
    
            .vehicleForm{
                margin-top:2rem;
                
            }
    
            .address{
                height: 10vh;
            }
    
            .societyBtn{
                cursor: pointer;
                    width: auto;
                    height: 6vh;
                    background-color:$c-01 ;
                    border:none;
                    color: white;
                    font-weight: 500;
                    font-size:1.5vw;
                    border-radius:12px;
                    padding: 0 1rem;
                    text-align: center;
              
            }
        }
    }
    
    .totalFormRow{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 2rem 0;
    
        h1{
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
    
    .societyBtn{
        cursor: pointer;
        margin-left:auto ;
    }
    
    .vehicleCost{
        margin-left: 10px;
        font-size:4vw;
        color: $c-01;
    }
    
    .vehicleAlert{
        font-size: 2vw;
        font-weight:600;
    }

    .labelText{
    font-size: 2vw;
}
}
@media only screen and (max-width: 600px) {
    .vehicleWrapper{
        width: 100%;

        .paymentSuccess{
            .paymentSuccessContent{
            display: flex;
            background-color:#47C6A8;
            align-items: center;
            text-align: center;
            width: 95%;
            height: 10vh;
            margin:2rem auto;
            color: #FFFFFF;
            padding: 3rem 2rem;
            border-radius: 16px;
    
        
            h1{
                font-family: "Poppins";
                font-size:3.5vw;
                font-weight:500;
            }
    
            .success{
                margin-left: auto;
               transform: scale(1.3)!important;
            }
        }

        .orderDetailsHeader{
            width: 85%;
            margin:0 auto;
            font-family: "Poppins";
            font-size:2vw;
            font-weight:600;
           }
    
           .orderDetails{
               font-family: "Poppins";
               font-size:3vw;
               font-weight:500;
            display: flex;
            justify-content:flex-start;
            width:85%;

            .dynamicButton{
                margin-left: auto;
                cursor: pointer;
                align-items: center;
                button{
                       align-items: center;
                    width: auto;
                    // height: 8vh;
                    background-color:$c-01 ;
                    border:none;
                    color: white;
                    font-weight: 500;
                    font-size:3vw;
                    border-radius:12px;
                    padding: 0.5rem  1rem;
                    text-align: center;
    
                    a{
                        text-decoration:none;
                        color: #FFFFFF;
                    }
                }
            }
            
           }
        }
        .vehicleContent{
        
            margin: 0 2.5rem 0 2.5rem;
            font-family: "Poppins";
            h1{
                font-size: 36px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
            }
    
            .vehicleForm{
                margin-top:2rem;
                
            }
    
            .address{
                height: 10vh;
            }
    
            .societyBtn{
                cursor: pointer;
                    width: auto;
                    height: 6vh;
                    background-color:$c-01 ;
                    border:none;
                    color: white;
                    font-weight: 500;
                    font-size:2vw;
                    border-radius:12px;
                    padding: 0 1rem;
                    text-align: center;
              
            }
        }
    }
    
    .totalFormRow{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
    
        h1{
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
    
    .societyBtn{
        cursor: pointer;
        margin-left:auto ;
    }
    
    .vehicleCost{
        margin-left: 10px;
        font-size:8vw;
        color: $c-01;
    }
    
    .vehicleAlert{
        font-size: 3vw;
        font-weight:600;
    }

    .formText{
        font-size:3vw;
    }
    .labelText{
        font-size:3vw;
    }
    
  }

  @media only screen and (max-width: 400px) {
    .vehicleWrapper{
        width: 100%;

        .paymentSuccess{
            .paymentSuccessContent{
            display: flex;
            background-color:#47C6A8;
            align-items: center;
            text-align: center;
            width: 95%;
            height: 10vh;
            margin:1rem auto;
            color: #FFFFFF;
            padding: 3rem 2rem;
            border-radius: 16px;
    
        
            h1{
                font-family: "Poppins";
                font-size:4.5vw;
                font-weight:500;
            }
    
            .success{
                margin-left: auto;
               transform: scale(1.5)!important;
            }
        }

        .orderDetailsHeader{
            width: 80%;
            margin:0 auto;
            font-family: "Poppins";
            font-size:3vw;
            font-weight:600;
           }
    
           .orderDetails{
               font-family: "Poppins";
               font-size:3vw;
               font-weight:500;
            display: flex;
            justify-content:flex-start;
            width: 80%;
            margin:0rem auto;
            p{
                margin-right: 2rem;
            }
            .dynamicButton{
                margin-left: auto;
                cursor: pointer;
                align-items: center;
                button{
                       
                    width: auto;
                    // height: 8vh;
                    background-color:$c-01 ;
                    border:none;
                    color: white;
                    font-weight: 500;
                    font-size:12px;
                    border-radius:12px;
                    padding: 1rem  1rem;
                    text-align: center;
    
                    a{
                        text-decoration:none;
                        color: #FFFFFF;
                    }
                }
            }
            
           }
        }
        .vehicleContent{
        
            margin: 0 2.5rem 0 2.5rem;
            font-family: "Poppins";
            h1{
                font-size: 36px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
            }
    
            .vehicleForm{
                margin-top:2rem;
                
            }
    
            .address{
                height: 10vh;
            }
    
            .societyBtn{
                cursor: pointer;
                    width: auto;
                    height: 6vh;
                    background-color:$c-01 ;
                    border:none;
                    color: white;
                    font-weight: 500;
                    font-size:2vw;
                    border-radius:12px;
                    padding: 0 1rem;
                    text-align: center;
              
            }
        }
    }
    
    .totalFormRow{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
    
        h1{
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
    
    .societyBtn{
        cursor: pointer;
        margin-left:auto ;
    }
    
    .vehicleCost{
        margin-left: 10px;
        font-size:8vw;
        color: $c-01;
    }
    .vehicleTotal{
        font-size:6vw!important;
    }
    .vehicleAlert{
        font-size: 4vw;
        font-weight:600;
    }

    .formText{
        font-size:3vw;
    }
    .labelText{
        font-size:3vw;
    }
    
  }